@charset "UTF-8";

body {
    background-color: rgba(48, 96, 252, 0.918);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white; 
    border-radius: 10px; 
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
          
}

div#altura-peso {
    text-align: center;
    margin: auto;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: chocolate;
}

div#imc > table {
    margin: auto;
    border-radius: 10px;
    background-color: aquamarine;
}

div#resultado {
    text-align: center;
}

div#imc > table tr td {
    text-align: center;
}

footer {
font-style: italic;    text-align: center;
    color: white;
}